.venv
.idea
node_modules
node_modeiles 2
__pycache__
app/__pycache__
tests/__pycache__
tests
*.pyc
.DS_Store
.env
.env.*
.vscode
dist
build
*.log
*.sqlite3
*.db
*.egg-info
coverage.xml
htmlcov
.tox
.pytest_cache
.coverage
.cache
migrations
staticfiles
media
*.pem
*.key
*.crt
*.p12
data/*.key
data/*.db
data/*.sqlite3
.flake8
.pre-commit-config.yaml
pytest.ini
pyproject.toml
